<!-- < form_for (cart_item) do f %>

< end %>
-->
<table>
  <thead>
  <tr>
    <th colspan="2">Produto</th>
    <th>Quantidade</th>
    <th>Preço unitário</th>
    <th>Preço</th>
  </tr>


  <% @cart_items.each do |cart_item| %>
      <tr>
        <% picture = Picture.where(product: cart_item.product).take %>
        <% if picture != nil %>
            <td><%= image_tag picture.image.url(:thumb) %></td>
        <% else %>
            <td></td>
        <% end %>
        <td><%= cart_item.product.name %></td>
        <td><%= cart_item.quantity %></td>
        <td><%= number_to_currency(cart_item.unitary_price) %></td>
        <td><%= link_to 'Detalhes', cart_item %></td>
        <td><%= link_to 'Editar', edit_cart_item_path(cart_item) %></td>
        <td><%= link_to 'Excluir', cart_item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </thead>
</table>
