<%= simple_form_for(event,html: { class: 'form-group' }) do |f| %>
  <%= f.error_notification %>
    <%= f.association :consumer %>
    <%= f.input :event_data, label: "Data" %>
    <%= f.input :hour, label: "hora" %>
    <%= f.input :attendants, label: "Invitados esperados" %>
    <%= f.association :address, label_method: :street %>
    <%= f.input :duration, label: "Duração do evento" %>
    <%= f.input :estimated_price_from %>
    <%= f.input :estimated_price_until %>
    <%= f.button :submit %>

  <div class="actions">
    <%= link_to "Omitir", products_path%>
  </div>
<% end %>
