<%= form_for(payment) do |f| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <div class ="text-primary text-left"><h3><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h3></div>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group text-left">
    <%= f.label :shopping_cart, class:"text-primary" %>
    <%= f.text_field :shopping_cart, class:"form-control",  placeholder:"Digite ...." %>
  </div>

  <div class="field form-group text-left">
    <%= f.label :credit_card, class:"text-primary" %>
    <%= f.text_field :credit_card, class:"form-control",  placeholder:"Digite o cartão de crédito" %>
  </div>

  <div class="field form-group text-left">
    <%= f.label "Número de parcelas:", class:"text-primary" %>
    <%= f.number_field :number_quotas, class:"form-control",  placeholder:"Digite o número de parcelas" %>
  </div>

  <div class="field form-group text-left">
    <%= f.label :quota_value, class:"text-primary" %>
    <%= f.text_field :quota_value, class:"form-control",  placeholder:"Digite valor da parcela" %>
  </div>

  <div class="actions">
    <% f.submit %>
  </div>
<% end %>
