<%= form_for(payment) do |f| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <div class ="text-primary text-left"><h3><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h3></div>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :shopping_cart_id, :value => @shopping_cart.id %>

  <div class="field form-group text-left">
    <%= f.label :credit_card_id, class:"text-primary" %>
    <%= f.select :credit_card_id, CreditCard.where(:client_id => current_client.id).map{|credit_card| [ credit_card.number, credit_card.id]},
                 prompt:"Selecione seu cartão de crédito", class:"form-control" %>
  </div>
    <%= link_to "cadastrar novo cartao",new_credit_card_path, :class => "inline_field_wrapper, pull-right" %>

  <div class="field form-group text-left">
    <%= f.label "Número de parcelas:", class:"text-primary" %>
    <%= f.number_field :number_quotas, class:"form-control",  placeholder:"Digite o número de parcelas" %>
  </div>

  <div class="field form-group text-left">
    <%= f.label :quota_value, class:"text-primary" %>
    <%= f.text_field :quota_value, class:"form-control",  placeholder:"Digite valor da parcela" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
