<%= form_for(banking) do |f| %>
  <% if banking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banking.errors.count, "error") %> prohibited this banking from being saved:</h2>

      <ul>
      <% banking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bank %>
    <%= f.number_field :bank %>
  </div>

  <div class="field">
    <%= f.label :agency %>
    <%= f.number_field :agency %>
  </div>

  <div class="field">
    <%= f.label :account %>
    <%= f.number_field :account %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
