<%= render 'header' %>
<!-- Services Section -->
<section id="products">
  <div class="container">
    <% if notice %>
        <div id="notice" class="alert alert-success"><%= notice %></div>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Comprar...</h2>
      </div>
      <div class="panel-body">
        <div id="dataTables-example_wrapper" class="form-inline ">
          <div class="row">
            <div class="col-sm-6">
              <div class="dataTables_length" id="dataTables-example_length">
                <label>Show
                  <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select> entries</label>
              </div>
            </div>
            <div class="col-sm-6 ">
              <div id="dataTables-example_filter" class="dataTables_filter" style="text-align: right;">
                <label>Search:
                  <input type="search" class="form-control "
                         placeholder="Digite aqui o prato, restaurante ou tipo de cozinha preferido"
                         aria-controls="dataTables-example">
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table table-bordered" id="products-list" role="grid">
                  <thead>
                  <tr role="row">
                    <th tabindex="0" rowspan="1" aria-sort="ascending"
                        aria-label="Rendering engine: activate to sort column descending">Professional
                    </th>
                    <th>Thumbnail</th>
                    <th>Categoria</th>
                    <th>Nome</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantidade máxima</th>
                    <th>Rating</th>
                    <th colspan="3"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @products.each do |product| %>
                      <tr>
                        <td><%= product.professional.client.name %></td>
                        <% picture = Picture.where(product_id: product.id).take %>
                        <% if picture != nil %>
                            <td><%= image_tag picture.image.url(:thumb) %></td>
                        <% else %>
                            <td></td>
                        <% end %>
                        <td><%= product.category_product.name %></td>
                        <td><%= product.name %></td>
                        <td><%= product.description %></td>
                        <td><%= product.price %></td>
                        <td><%= product.max_quantity %></td>
                        <td><%= product.rating %></td>
                        <td><%= link_to 'Show', product %></td>
                        <% if @current_professional != nil && @current_professional.id == product.professional_id %>
                            <td><%= link_to 'Edit', edit_product_path(product) %></td>
                            <td><%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                        <% end %>
                        <% if client_signed_in? %>
                            <td><%= link_to 'Comprar', buy_shopping_cart_path(@current_cart, :product => product) %></td>
                        <% else %>
                            <td><%= link_to 'Comprar', new_client_registration_path %></td>
                        <% end %>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite"
                   style="padding-top: 8px; white-space: nowrap;">Showing 1 to 10 of 57 entries
              </div>
            </div>
            <div class="col-sm-6">
              <div class="dataTables_paginate paging_simple_numbers" style="text-align: right;height: 43px;" id="dataTables-example_paginate">
                <ul class="pagination" style="margin: 2px 0; white-space: nowrap;">
                  <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                    <a href="#">Previous</a></li>
                  <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">1</a>
                  </li>
                  <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">2</a></li>
                  <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">3</a></li>
                  <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">4</a></li>
                  <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">5</a></li>
                  <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">6</a></li>
                  <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                    <a href="#">Next</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <%= render 'footer', step: @step %>

  </div>
</section>


