<header class="header-default">
  <div class="main">
    <div class="header-content">
      <div class="header-content-inner">
        <div class="col-md-offset-2 col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading"><h2 class="text-center"><i class="fa fa-cutlery"></i> Produto!</h2></div>
            <div class="panel-body">
              <% if notice %>
                  <div id="notice" class="alert alert-success"><%= notice %></div>
              <% end %>

              <div class="text-center text-success">
                <% @pictures.each do |p| %>
                    <%= image_tag p.image.url(:medium) %>
                <% end %>
              </div>

              <div class="text-left text-success">
                <strong>Professional:</strong>
                <%= @product.professional.client.name %>
              </div>

              <div class="text-left text-success">
                <strong>Categoria:</strong>
                <%= @product.category_product.name %>
              </div>

              <div class="text-left text-success">
                <strong>Name:</strong>
                <%= @product.name %>
              </div>

              <div class="text-left text-success">
                <strong>Description:</strong>
                <%= @product.description %>
              </div>

              <div class="text-left text-success">
                <strong>Price:</strong>
                <%= number_to_currency(@product.price) %>
              </div>

              <div class="text-left text-success">
                <strong>Rating:</strong>
                <td><%= render 'star', product: @product %></td>
              </div>

              <% if @current_professional != nil && @current_professional.id == @product.professional_id %>
                  <%= link_to 'Edit', edit_product_path(@product) %> |
              <% end %>
              <%= link_to 'Back', products_path %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>