<!DOCTYPE html>
<html>
  <head>

    <title>CateringWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="home scrollable" >
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <% flash.each do |key,value|%>
    <div class="alert alert-<%= key %> col-md-8 col-md-offset-2 main">
      <%= value%>
    </div>
    <% end %>
  </div>

  <%= yield %>
  <%= render 'layouts/footer' %>

  </body>
</html>
