<p id="notice"><%= notice %></p>

<h1>Category Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_products.each do |category_product| %>
      <tr>
        <td><%= category_product.name %></td>
        <td><%= link_to 'Show', category_product %></td>
        <td><%= link_to 'Edit', edit_category_product_path(category_product) %></td>
        <td><%= link_to 'Destroy', category_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Product', new_category_product_path %>
